/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

@media (max-width: 94em) {
}

/**************************/
/* BELOW 1720px (category grid breaks) */
/**************************/
@media (max-width: 108em) {
  #aboutHeader {
    font-size: 4rem;
  }
  #aboutText_1 {
    font-size: 2.3rem;
    max-width: 90rem;
  }
  #aboutText_2 {
    font-size: 2.3rem;
    max-width: 90rem;
  }
  .customer-case-card.clicked {
    width: 100rem !important;
    height: 50rem !important;
    top: 45%;
  }

  .customer-case-card.clicked .carousel-placeholder {
    position: relative;
    width: 100rem;
  }
  .carousel img {
    max-width: 100rem;
    max-height: 50rem;
    object-fit: cover;
  }
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .header-bar {
    height: 10rem;
  }
  .logo-container {
    height: 10rem;
    padding: 1rem 0 1rem 0;

    left: 3rem;
  }
  .logo-box svg {
    width: 7.8rem;
    height: 7.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.9rem; /* 2.2 */
  }

  .foreground-image {
    width: 40rem;
  }
  .container {
    max-width: 91rem;
    margin: 0 auto;
    padding: 0 2.24rem;
  }

  .case-wrapper--upper-4 {
    gap: 2.1rem;
  }
  .case-wrapper--even-lower-4 {
    gap: 2.1rem;
  }

  .case-wrapper--inner-top-left {
    width: 50.652rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .case-wrapper--inner-top-right {
    width: 33.768rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .case-wrapper--lower-3 {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-content: center;
    justify-content: center;
  }
  #norrbro {
    width: 50.652rem;
    height: 50rem;
  }

  #nobelberget {
    width: 50.652rem;
    height: 50rem;
  }
  #hojden {
    width: 50.652rem;
    height: 50rem;
  }
  #popaganda {
    width: 50.652rem;
    height: 50rem;
  }

  #lolla {
    width: 33.768rem;
    height: 35rem;
  }
  #sow {
    width: 33.768rem;
    height: 35rem;
  }

  #rosendal {
    width: 33.768rem;
    height: 66.5rem;
  }
  #midsummer {
    width: 33.768rem;
    height: 66.5rem;
  }

  #wow {
    width: 86.52rem;
    height: 60rem;
    grid-row: 5/8;
    grid-column: 1/-1;
  }
  #vi-som {
    width: 42.21rem;
    height: 30rem;
    grid-row: 8/9;
    grid-column: 1/4;
  }
  #epidemic-sound {
    width: 42.21rem;
    height: 30rem;
    grid-row: 8/9;
    grid-column: 3/-1;
  }

  .partner-container {
    width: 12.32rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partner-grid {
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .header-container {
    max-width: 100%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .background-image {
    background-position-y: 0vh;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 1;
  }

  /*   .hero-brand-box--closed {
    display: none; 
  } */

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* z-index: -1; */
    /* 		transform: translateX(100%);
		-webkit-transform: translateX(100%); */

    display: none;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
    overflow: hidden;
  }

  .nav-open .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
    animation: slideIn ease 0.5s;
    -webkit-animation: slideIn ease 0.5s;
    -moz-animation: slideIn ease 0.5s;
    -o-animation: slideIn ease 0.5s;
    -ms-animation: slideIn ease 0.5s;
    z-index: 1;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .nav-close .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(100%);
    animation: slideOut ease 0.5s;
    -webkit-animation: slideOut ease 0.5s;
    -moz-animation: slideOut ease 0.5s;
    -o-animation: slideOut ease 0.5s;
    -ms-animation: slideOut ease 0.5s;
    z-index: 1;
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.8rem;
    color: var(--highlight-color);
    font-weight: 600;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .main-header {
    font-size: 6rem;
  }
  .foreground-image {
    width: 30rem;
  }
  .container {
    max-width: 63.7rem;
    margin: 0 auto;
    padding: 0 1.568rem;
  }
  .customer-case-text-box {
    padding: 0;
  }
  .customer-case-titel-year-box {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .case-wrapper--upper-4 {
    gap: 1.47rem;
  }
  .case-wrapper--even-lower-4 {
    gap: 1.47rem;
  }

  .case-wrapper--inner-top-left {
    width: 35.4564rem;
    display: flex;
    flex-direction: column;
    gap: 0.49rem;
  }

  .case-wrapper--inner-top-right {
    width: 23.6376rem;
    display: flex;
    flex-direction: column;
    gap: 0.49rem;
  }
  .case-wrapper--lower-3 {
    display: flex;
    flex-direction: column;
    gap: 0.49rem;
    align-content: center;
    justify-content: center;
  }
  #norrbro {
    width: 35.4564rem;
    height: 40rem;
  }

  #nobelberget {
    width: 35.4564rem;
    height: 40rem;
  }
  #hojden {
    width: 35.4564rem;
    height: 40rem;
  }
  #popaganda {
    width: 35.4564rem;
    height: 40rem;
  }

  #lolla {
    width: 23.6376rem;
    height: 27rem;
  }
  #sow {
    width: 23.6376rem;
    height: 27rem;
  }

  #rosendal {
    width: 23.6376rem;
    height: 54.4rem;
  }
  #midsummer {
    width: 23.6376rem;
    height: 54.4rem;
  }

  #wow {
    width: 60.564rem;
    height: 47rem;
    grid-row: 5/8;
    grid-column: 1/-1;
  }
  #vi-som {
    width: 29.547rem;
    height: 23rem;
    grid-row: 8/9;
    grid-column: 1/4;
  }
  #epidemic-sound {
    width: 29.547rem;
    height: 23rem;
    grid-row: 8/9;
    grid-column: 3/-1;
  }

  .customer-case-card.clicked {
    width: 65rem !important;
    height: 45rem !important;
  }

  .customer-case-card.clicked .carousel-placeholder {
    position: relative;
    width: 65rem;
  }
  .carousel img {
    max-width: 65rem;
    max-height: 45rem;
    object-fit: cover;
  }
  .carousel .slick-dots li button::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s ease;
    opacity: 0.7;
  }
  #contactHeader {
    margin-bottom: 8rem;
  }
  .contact-card-box {
    gap: 8rem;
    margin-bottom: 5rem;
  }

  .partner-container {
    width: 8.32rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partner-grid {
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .foreground-image {
    left: 27%;
    width: 35rem;
  }
  .main-header {
    left: 40%;
    font-size: 5rem;
  }
  .secondary-header {
    font-size: 3.5rem;
  }
}

/**************************/
/* BELOW 430px ( new Phones) */
/**************************/
@media (max-width: 29em) {
  .main-header {
    left: 33%;
    font-size: 4.3rem;
    bottom: 17%;
    letter-spacing: -0.18rem;
    padding: 2rem 0.5rem 2rem 2rem;
  }

  .container {
    max-width: 57.33rem;
    margin: 0 auto;
    padding: 0 1.4112rem;
  }

  #aboutText_1 {
    font-size: 1.8rem;
    width: auto;
  }
  #aboutText_2 {
    font-size: 1.8rem;
    width: auto;
  }

  .case-wrapper--upper-4 {
    gap: 1.323rem;
  }
  .case-wrapper--even-lower-4 {
    gap: 1.323rem;
  }
  .project-image {
    margin: 0;
  }

  .case-wrapper--inner-top-left {
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .case-wrapper--inner-top-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2%;
  }
  .case-wrapper--lower-3 {
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-content: center;
    justify-content: center;
  }
  #norrbro {
    width: 100%;
    height: 30rem;
  }

  #nobelberget {
    width: 100%;
    height: 30rem;
  }
  #hojden {
    width: 100%;
    height: 30rem;
  }
  #popaganda {
    width: 100%;
    height: 30rem;
  }

  #lolla {
    width: 100%;
    height: 20rem;
  }
  #sow {
    width: 100%;
    height: 20rem;
  }

  #rosendal {
    width: 100%;
    height: 41rem;
    margin-bottom: 1rem;
  }
  #midsummer {
    width: 100%;
    height: 41rem;
    margin-bottom: 1rem;
  }

  #wow {
    width: 100%;
    height: 38rem;
    grid-row: 5/8;
    grid-column: 1/-1;
  }
  .case-wrapper--bottom {
    gap: 2%;
  }
  #vi-som {
    width: 49%;
    height: 18rem;
    grid-row: 8/9;
    grid-column: 1/4;
  }
  #epidemic-sound {
    width: 49%;
    height: 18rem;
    grid-row: 8/9;
    grid-column: 3/-1;
  }

  .customer-case-titel {
    font-size: 1.5rem;
  }
  .customer-case-titel-year-box {
    font-size: 1.5rem;
  }
  .customer-case-year {
    font-size: 1.5rem;
  }

  .customer-case-card.clicked {
    max-width: 51.33rem !important;
    height: 40rem !important;
  }

  .customer-case-card.clicked .carousel-placeholder {
    position: relative;
    max-width: 51.33rem;
  }
  /*   .customer-case-text-box {
    padding-left: 1rem;
  } */
  .carousel img {
    max-width: 51.33rem;
    max-height: 40rem;
    object-fit: cover;
  }
  .carousel .slick-dots li button::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.3s ease;
    opacity: 0.7;
  }
  #contactHeader {
    margin-bottom: 7rem;
  }
  .contact-card-box {
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .contact-card {
    padding-left: 0rem;
  }

  .contact-card h3.name {
    font-size: 2rem;
    margin-bottom: 0.9rem;
  }
  .contact-card p,
  a {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .partner-container {
    width: 6.32rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .partner-grid {
    column-gap: 2rem;
    row-gap: 2rem;
  }
  /*   .grid--5-cols {
    grid-template-columns: repeat(4, 1fr);
  } */
}

@media (max-width: 1300px) and (min-width: 1000px) and (max-height: 600px) {
}
